.heading {
  margin-bottom: 10vh;
  font-size: 15px;
  color: rgb(39, 39, 39);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  margin-bottom: 8vh;
  border-right: none;
  border-top: none;
  border-left: none;
  background-color:transparent;
  outline: none;
  color: rgb(39, 39, 39);
}

input::placeholder {
  text-align: center;
  color:silver;
  font-family: 'Roboto', sans-serif;
}

.form-class .btn {
  background: rgba(255,255,255,.2);
  width: 100%;
  padding: 0px;
  border: none;
  cursor: pointer;
  border-radius: 4px 4px;
  letter-spacing: 0.7px;
  cursor: pointer;
  font-size: 15px;
}