
.tile {
  margin: 15px;
  cursor: pointer;
  overflow: hidden;
  width: 16vw;
  height: 18vw;
}

.tile img {
  width: 100%;
  transition: transform 500ms ease;
  opacity: .9;
} 

.tile img:hover {
  transform: scale(1.1);
  opacity: 1;
}


